body {
  background-color: #ff00ff;
}


header, main, footer {
  background-color: white;
  width: 650px;
  margin: auto;
}

h1, h2 {
  font-family: 'Courier New', Courier, monospace;
  color: #ff00ff; 
  text-align: center;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  font-family: Proxima Nova, Helvetica, sans-serif;
  color: #651fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
p, a, li {
  font-family: Proxima Nova, Helvetica, sans-serif;
  font-size: 16px;
}

main article {
  text-align: center;
  padding: 5px;
}

main article p, li {
  text-align: left;
  letter-spacing: 2px;
  line-height: 20px;
}

hr {
  height: 2px;
  background-color: #ff6fff;
  border: 2px solid #ff6fff;
  margin-top: 25px;
  margin-bottom: 25px;
}

a:link { color: aquamarine; }
a:visited { color: #651fff; }
a:hover { color: #ff00ff; }
a:active { color: #ff6fff; }

footer p {
  text-align: center;
  font-size: 10px;
}